@keyframes pulse {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

@media (max-width: 768px) {
  .headerBottomSpace {
    padding-top: 0;
  }
  .cabecalhoLove {
    opacity: 0.9;
  }
}
